         <div class="show-block">
            <h1><%=@pomodoro_title%></h1>
            <h2><%=@pomodoro_description%></h2>
            <h3><%=@pomodoro_estimate%> pomodoros</h3>
            <input type="checkbox"><label for="it"> Did you do it</label><br/>
            <a href="#">Edit</a>
            <a href="#">Delete</a>
            <a href="/todo/index">Return</a>
        </div>